.background_form {
    background-image: url('/public/images/banner1.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 25%;
    background-color: #fff;
    padding: 50px 40px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(199, 195, 195, 0.6)
}

.title {
    font-weight: 400 !important;
    font-style: italic;
    margin-bottom: 70px;
    text-align: center;
    text-transform: capitalize;
}

.inputs {
    margin-bottom: 15px;
}

.input {
    display: block;
    width: 100% !important;
    height: 50px;
    border: 1px solid var(--textSubColor);
    padding-left: 15px;
    margin-bottom: 10px;
}



.btnSubmit {
    width: 100%;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 30px;
    border: none;
    background-color: var(--backgroundColorBtn);
    color: #fff;
    text-transform: uppercase;
    transition: all 0.25s;
}

.btnSubmit:hover {
    opacity: 0.8;
}

.routerText {
    text-align: center;
    font-style: italic;
}

.routerText:not(a) {
    color: var(--textSubColor);
}